.service-content__detail__subtitle {
  margin-top: 50px;
}

.service-content__detail__subtitle span {
  font-size: 2.4rem;
  font-weight: 700;
}

.detail__text-area1__text-area1,
.detail__text-area1__text-area2,
.detail__text-area1__text-area3 {
  margin-top: 50px;
}

.detail__text-area1__text-area1 p,
.detail__text-area1__text-area2 p,
.detail__text-area1__text-area3 p {
  margin-bottom: 10px;
}

.detail__text-area1__text-area1 p:last-child,
.detail__text-area1__text-area2 p:last-child,
.detail__text-area1__text-area3 p:last-child {
  margin: 0;
}

.detail__text-area1__text-area1 p span,
.detail__text-area1__text-area2 p span,
.detail__text-area1__text-area3 p span {
  font-size: 1.8rem;
}

.detail__text-area1__text-area4 {
  margin-top: 50px;
}

.detail__text-area1__text-area4 p {
  margin-bottom: 10px;
}

.detail__text-area1__text-area4 p span {
  font-size: 1.8rem;
  font-weight: 700;
}

.motion-example {
  margin: 50px 0 20px 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.motion-bar {
  width: 30px;
  height: 100%;
  background: #1A374D;
  position: absolute;
  left: 50%;
  top: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 30px;
  -webkit-animation: motionBar 4s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards infinite;
          animation: motionBar 4s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards infinite;
}

@-webkit-keyframes motionBar {
  0% {
    width: 30px;
  }
  10% {
    top: 0;
  }
  25% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  70% {
    width: 30px;
    top: 0;
  }
  100% {
    top: 120%;
  }
}

@keyframes motionBar {
  0% {
    width: 30px;
  }
  10% {
    top: 0;
  }
  25% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  70% {
    width: 30px;
    top: 0;
  }
  100% {
    top: 120%;
  }
}

.circle {
  width: 0px;
  height: 0px;
  background: #fff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: motionCircle 4s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards infinite;
          animation: motionCircle 4s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards infinite;
}

.circle:nth-of-type(1) {
  left: 5%;
}

.circle:nth-of-type(2) {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle:nth-of-type(3) {
  right: 5%;
}

@-webkit-keyframes motionCircle {
  20% {
    width: 0;
    height: 0;
  }
  40% {
    width: 20px;
    height: 20px;
  }
  60% {
    width: 0;
    height: 0;
  }
}

@keyframes motionCircle {
  20% {
    width: 0;
    height: 0;
  }
  40% {
    width: 20px;
    height: 20px;
  }
  60% {
    width: 0;
    height: 0;
  }
}

.detail__text-area1__text-area6 p span {
  font-size: 1.6rem;
}

.detail__text-area1__text-area7 {
  margin-top: 50px;
}

.detail__text-area1__text-area7 p {
  margin-bottom: 10px;
}

.detail__text-area1__text-area7 p span {
  font-size: 1.8rem;
}
/*# sourceMappingURL=service-homepage.css.map */