.service-content__detail__subtitle{
    margin-top: 50px;

    span{
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.detail__text-area1__text-area1{
    margin-top: 50px;

    p{
        &:first-child{
            margin-bottom: 10px;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area1__text-area2{
    margin-top: 50px;

    p{
        margin-bottom: 10px;

        &:first-child{
            margin-bottom: 20px;

            span{
                font-size: 2rem;
                font-weight: 700;
            }
        }

        &:last-child{
            margin: 0;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area1__text-area3{
    margin-top: 50px;

    p{
        &:first-child{
            margin-bottom: 10px;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area1__text-area4{
    margin-top: 50px;

    p{
        margin-bottom: 10px;

        &:last-child{
            margin: 0;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area1__text-area5{
    margin-top: 50px;

    p{
        margin-bottom: 10px;

        &:nth-of-type(2){
            margin-bottom: 50px;
        }

        &:last-child{
            margin: 0;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.service-content__detail__img-area{
    margin: 50px 0 20px 0;
}

.detail__text-area1__text-area6,
.detail__text-area1__text-area7{
    p{
        span{
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
}

.detail__text-area2__text-area1,
.detail__text-area2__text-area2,
.detail__text-area2__text-area3{
    margin-top: 50px;

    p{
        margin-bottom: 10px;

        &:last-child{
            margin: 0;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area2__text-area3{
    p{
        &:nth-of-type(2){
            margin-bottom: 50px;
        }
    }
}