.service-content__detail__subtitle{
    margin-top: 50px;

    span{
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.detail__text-area1__text-area1{
    margin-top: 50px;

    p{
        &:first-child{
            margin-bottom: 10px;
        }

        span{
            font-size: 1.8rem;
        }
    }
}

.detail__text-area1__text-area2,
.detail__text-area1__text-area3,
.detail__text-area1__text-area4,
.detail__text-area1__text-area5,
.detail__text-area1__text-area6{
    margin-top: 50px;

    p{
        margin-bottom: 10px;

        &:last-child{
            margin: 0;
        }

        span{
            font-size: 1.8rem;
        }
    }
}