@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Pretendard Variable';
  font-weight: 400;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-text-size-adjust: none;
  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none;
  /* IE */
  -moz-text-size-adjust: none;
  /* 파이어폭스 */
  -o-text-size-adjust: none;
  /* 오페라 구버전 */
}

h1,
h2,
h3,
strong {
  font-weight: 700;
}

.w1440 {
  width: 1440px;
  margin: 0 auto;
}

.w1280 {
  width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  z-index: 12;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .5s;
  transition: .5s;
}

header.active {
  background: rgba(0, 0, 0, 0.5);
}

.header__box {
  width: 100%;
  padding: 16px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #fff;
}

.header__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-box a {
  font-size: 1.6rem;
  color: #fff;
}

.header__nav-box > span {
  font-size: 1.6rem;
  margin-left: 5rem;
  color: #fff;
  cursor: pointer;
}

.header__nav-box__company,
.header__nav-box__contact {
  margin-left: 5rem;
}

.header__nav-box__service {
  display: inline-block;
  position: relative;
}

.header__nav-box__service:hover .service__list {
  visibility: visible;
  opacity: 1;
}

.service__list {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.service__list a {
  display: block;
  white-space: nowrap;
  padding: 20px 30px;
  color: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.service__list a:hover {
  color: #fff;
}

.service__list a:hover span:after {
  width: 100%;
}

.service__list a span {
  display: inline-block;
  position: relative;
}

.service__list a span:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger-menu-btn {
  width: 20px;
  height: 16px;
  display: none;
  position: relative;
  cursor: pointer;
}

.burger-menu-btn span {
  width: 100%;
  height: 2px;
  display: inline-block;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
  transition: all cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
}

.burger-menu-btn span:nth-of-type(1) {
  top: 0;
}

.burger-menu-btn span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu-btn span:nth-of-type(3) {
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.burger-menu-btn.active span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu-btn.active.close span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu-btn.active.close span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu-btn.active.close span:nth-of-type(3) {
  opacity: 0;
}

.burger-menu {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  z-index: 14;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
}

.burger-menu.visible {
  visibility: visible;
  opacity: 1;
}

.burger-menu__hidden-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hidden-cont__list {
  width: 100%;
  padding: 20px 0;
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: solid 1px #666;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 1s, background 0.5s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 1s, background 0.5s;
  cursor: pointer;
}

.hidden-cont__list:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hidden-cont__list span {
  color: #fff;
  font-size: 1.8rem;
}

.service__sub-menu {
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
}

.service__sub-menu.unfold {
  height: 120px;
}

.sub-menu {
  font-size: 1.6rem;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.sub-menu a {
  color: #fff;
}

.dividing-line {
  position: relative;
  height: 7px;
}

.dividing-line span {
  display: inline-block;
  position: absolute;
  top: 50%;
}

.dividing-line__left-line {
  width: 49%;
  height: 1px;
  background: #000;
  left: 0;
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

.line-default {
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 0.8s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 0.8s;
}

.line-default.active {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.dividing-line__center-point {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
          transform: translate(-50%, -50%) rotate(45deg) scale(0);
  width: 7px;
  height: 7px;
  background: #000;
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
  -webkit-animation: rotateInfinite 2s cubic-bezier(0.76, 0, 0.24, 1) 1s infinite alternate paused;
          animation: rotateInfinite 2s cubic-bezier(0.76, 0, 0.24, 1) 1s infinite alternate paused;
}

.dividing-line__center-point.active {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotateInfinite {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes rotateInfinite {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

.dividing-line__right-line {
  width: 49%;
  height: 1px;
  background: #000;
  right: 0;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}

.contact-us {
  margin: 150px auto;
  text-align: center;
}

.contact-us__title {
  margin-bottom: 5rem;
}

.contact-us__title span {
  font-size: 3.6rem;
  font-weight: 700;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
}

.contact-us__title.active span {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.contact-us__btn {
  font-size: 2.4rem;
  color: #000;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.contact-us__btn span {
  display: inline-block;
}

.contact-us__btn.active .contact-us__btn__line-top,
.contact-us__btn.active .contact-us__btn__line-bottom {
  width: 100%;
  height: 1px;
}

.contact-us__btn.active .contact-us__btn__line-left,
.contact-us__btn.active .contact-us__btn__line-right {
  width: 1px;
  height: 100%;
}

.contact-us__btn.active .contact-us__btn__text-area span:first-child {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.contact-us__btn:hover .contact-us__btn__line-top {
  left: -100%;
}

.contact-us__btn:hover .contact-us__btn__line-left {
  top: -100%;
}

.contact-us__btn:hover .contact-us__btn__line-bottom {
  right: -100%;
}

.contact-us__btn:hover .contact-us__btn__line-right {
  bottom: -100%;
}

.contact-us__btn:hover .contact-us__btn__text-area span:first-child {
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
  opacity: 0;
}

.contact-us__btn:hover .contact-us__btn__text-area span:last-child {
  -webkit-transform: translate(-50%, 0) rotateX(0);
          transform: translate(-50%, 0) rotateX(0);
  opacity: 1;
}

.contact-us__btn__line-top,
.contact-us__btn__line-bottom,
.contact-us__btn__line-left,
.contact-us__btn__line-right {
  -webkit-transition: all cubic-bezier(0.76, 0, 0.24, 1) 0.5s, width cubic-bezier(0.76, 0, 0.24, 1) 1s, height cubic-bezier(0.76, 0, 0.24, 1) 1s;
  transition: all cubic-bezier(0.76, 0, 0.24, 1) 0.5s, width cubic-bezier(0.76, 0, 0.24, 1) 1s, height cubic-bezier(0.76, 0, 0.24, 1) 1s;
  position: absolute;
  background: #000;
  width: 0;
  height: 0;
}

.contact-us__btn__line-top,
.contact-us__btn__line-left {
  top: 0;
  left: 0;
}

.contact-us__btn__line-bottom,
.contact-us__btn__line-right {
  bottom: 0;
  right: 0;
}

.contact-us__btn__text-area {
  padding: 1rem 3rem;
}

.contact-us__btn__text-area span:first-child {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  -webkit-animation: contactBtnTxt 1s cubic-bezier(0.76, 0, 0.24, 1) 0.5s forwards paused;
          animation: contactBtnTxt 1s cubic-bezier(0.76, 0, 0.24, 1) 0.5s forwards paused;
}

@-webkit-keyframes contactBtnTxt {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes contactBtnTxt {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.contact-us__btn__text-area span:last-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 100%) rotateX(-90deg);
          transform: translate(-50%, 100%) rotateX(-90deg);
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
}

.contact-us__text-area {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  line-height: 1.5;
}

.contact-us__text-area span:first-child {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  -webkit-animation: contactTxt1 1s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards paused;
          animation: contactTxt1 1s cubic-bezier(0.76, 0, 0.24, 1) 0s forwards paused;
}

.contact-us__text-area span:last-child {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  -webkit-animation: contactTxt1 1s cubic-bezier(0.76, 0, 0.24, 1) 0.15s forwards paused;
          animation: contactTxt1 1s cubic-bezier(0.76, 0, 0.24, 1) 0.15s forwards paused;
}

@-webkit-keyframes contactTxt1 {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes contactTxt1 {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.contact-us__text-area.active span {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

footer {
  width: 100%;
  background: #3f3f3f;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.footer__logo {
  display: inline-block;
  padding: 30px 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Noto Sans KR';
}

.footer__company-information {
  font-size: 1.4rem;
  color: #767676;
  margin-bottom: 10px;
}

.footer__company-information span {
  color: #aaa;
}

.footer__warning-link {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.footer__email {
  color: #767676;
}

.footer__privacy-policy {
  color: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__privacy-policy:hover {
  color: #fff;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #767676;
  margin-bottom: 30px;
}

.busy-reason {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.busy-reason__sticky {
  width: 100%;
}

.busy-reason__sticky__slide-container {
  position: relative;
}

.busy-reason__sticky__slide-container .tB {
  font-weight: 700;
}

.br-slide1, .br-slide2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.br-slide1:last-child, .br-slide2:last-child {
  padding-top: 200px;
}

.br-slide1__text-area, .br-slide2__text-area {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 4.8rem;
}

.br-slide1__text-area__text, .br-slide2__text-area__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.effect-text__cont, .effect-text__cont2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.effect-text__cont:after, .effect-text__cont2:after {
  display: inline-block;
  content: '오는 문의를 소화하기도 바쁩니다.';
  opacity: 0;
}

.effect-text__cont__text-area {
  display: inline-block;
  left: 0;
  white-space: nowrap;
  position: absolute;
}

.effect-text__cont__text-area span {
  display: inline-block;
  opacity: 0;
}

.effect-text__cont__text-area2 {
  display: inline-block;
  left: 0;
  white-space: nowrap;
  position: absolute;
}

.effect-text__cont__text-area2 span {
  display: inline-block;
  -webkit-transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
  transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
}

.effect-text__cont__text-area2:nth-of-type(2) {
  position: absolute;
}

.effect-text__cont__text-area2:nth-of-type(2) span {
  -webkit-transform: translateY(100%) rotate3d(1, 1, 1, 20deg);
          transform: translateY(100%) rotate3d(1, 1, 1, 20deg);
}
/*# sourceMappingURL=test.css.map */