@import 'common.scss';

.busy-reason {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busy-reason__sticky {
    width: 100%;
}

.busy-reason__sticky__slide-container {
    position: relative;

    .tB{
        font-weight: 700;
    }
}

.br-slide1, .br-slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child{
        padding-top: 200px;
    }
}

.br-slide1__text-area, .br-slide2__text-area {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 4.8rem;
}

.br-slide1__text-area__text, .br-slide2__text-area__text{
    display: flex;
    justify-content: center;
    align-items: center;

    strong{
        font-weight: 500;
    }
}

.effect-text__cont, .effect-text__cont2{
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:after{
        display: inline-block;
        content: '오는 문의를 소화하기도 바쁩니다.';
        opacity: 0;
    }
}

.effect-text__cont__text-area{
    display: inline-block;
    left: 0;
    white-space: nowrap;
    position: absolute;

    span{
        position: relative;
        z-index: 1;
        font-weight: 700;
    }

    &::before{
        display: inline-block;
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%; height: 70%;
        bottom: 0;
        background: #d3e2f8;
    }
}

.effect-text__cont__text-area2{
    display: inline-block;
    left: 0;
    white-space: nowrap;
    position: absolute;

    span{
        display: inline-block;
        font-weight: 700;
        transition: cubic-bezier(0.76, 0, 0.24, 1) 1s;
    }

    &:nth-of-type(2){
        position: absolute;
        span{
            transform: translateY(100%) rotate3d(1,1,1, 20deg);
        }
    }
}